.portfolio-page{
    display: flex;
    flex-direction: column;
    position: relative;
    height: max-content;
    overflow: hidden;
    margin: 6vmax 9vmax;
    padding: 0vmax;
    height: 45vmax;
}


.portfolio-background{
    display: flex;
    flex-direction: column;
    background-image: url(img/portfolio.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    gap: 3vmax;
}

.portfolio-page-heading{
    display: flex;
    flex-direction: column;
    gap: 0.2vmax;
    padding-top: 0.5vmax;
}

.portfolio-page-heading p{
    font-size: 1vmax;
    font-weight: 400;
}

.portfolio-page-heading h1{
    font-size: 2.5vmax;
    font-weight: 500;
}

.portfolio-page-text{
    display: flex;
    width: 55vmax;
    height: auto;
    padding: 2.5vmax 0vmax;
}

.portfolio-page-text p{
    font-size: 1vmax;
    font-weight: 400;
}

.bottom{
    position: absolute;
    bottom: 0; /* Positions at the bottom of the container */
    width: 100%;
    height: 5vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65vmax;
    padding: 0vmax 2vmax;
    margin-bottom: 1.5vmax;
}

.bottom-left{
    width: 5vmax;
    height: 5vmax;
}

.bottom-left img{
    width: 5vmax;
    height: 5vmax;
}

.bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vmax;
}

.bottom-right p{
    font-size: 0.9vmax;
    color: rgba(121, 124, 134, 1);
}


.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    margin: 1vmax 0vmax 8vmax 0vmax;
}

.brands-heading p{
    font-size: 0.8vmax;
    font-weight: 400;
    color: rgba(121, 124, 134, 1);
}


.list-brands{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vmax;
    background-color: rgba(14, 14, 16, 1);
    padding: 1.5vmax 0vmax;
    width: 100%;
    
}

.list-brands img{
    width: auto;
    height: 2.5vmax;
}



.portfolio-portraits{
    display: flex;
    flex-direction: column;
    padding: 12vmax 9vmax;
    padding-top: 0vmax;
}

.portfolio-portraits .section-head {
    font-size: 1vmax;
    font-weight: 600;
    margin: 0;
    color: rgba(121, 124, 134, 1);
}

.portraits-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vmax;
}

.portraits-heading h1{
    font-size: 2vmax;
    font-weight: 600;
    color: rgba(121, 124, 134, 1);
}

.navigation-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
}

.navigation-buttons button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.navigation-buttons button img{
    width: 2.5vmax;
    height: 2.5vmax;
}

.portraits-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vmax;
}

.all-portfolio a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vmax;
    width: 12vmax;
    height: 3vmax;
    font-size: 1vmax;
    background-color: rgba(28, 28, 33, 1);
}

.all-portfolio a{
    color: white;
    text-decoration: none;
}

.portrait-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3vmax;
}

.portrait-face{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.portrait-face-image{
    display: flex;
    width: 25vmax;
    height: 26vmax;
}

.portrait-face-image img{
    width: 25vmax;
    height: 26vmax;
}

.portrait-face-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.portrait-face-name{
    display: flex;
    flex-direction: column;
    gap: 0.1vmax;
}

.portrait-face-name h4{
    font-size: 1vmax;
    font-weight: 500;
    color:rgba(202, 202, 206, 1);
}

.portrait-face-name p{
    font-size: 0.9vmax;
    font-weight: 400;
    color: rgba(121, 124, 134, 1);
}

.portrait-face-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portrait-face-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    font-weight: 400;
}

.portrait-face-button a img{
    width: 0.8vmax;
    height: 0.8vmax;
    padding-left: 0.5vmax;
}

.portrait-innocence{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.portrait-innocence-image{
    display: flex;
    width: 25vmax;
    height: 26vmax;
}

.portrait-innocence-image img{
    width: 25vmax;
    height: 26vmax;
}

.portrait-innocence-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.portrait-innocence-name{
    display: flex;
    flex-direction: column;
    gap: 0.1vmax;
}

.portrait-innocence-name h4{
    font-size: 1vmax;
    font-weight: 500;
    color:rgba(202, 202, 206, 1);
}

.portrait-innocence-name p{
    font-size: 0.9vmax;
    font-weight: 400;
    color: rgba(121, 124, 134, 1);
}

.portrait-innocence-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portrait-innocence-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    font-weight: 400;
}

.portrait-innocence-button a img{
    width: 0.8vmax;
    height: 0.8vmax;
    padding-left: 0.5vmax;
}

.portrait-elegance{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.portrait-elegance-image{
    display: flex;
    width: 25vmax;
    height: 26vmax;
}

.portrait-elegance-image img{
    width: 25vmax;
    height: 26vmax;
}

.portrait-elegance-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.portrait-elegance-name{
    display: flex;
    flex-direction: column;
    gap: 0.1vmax;
}

.portrait-elegance-name h4{
    font-size: 1vmax;
    font-weight: 500;
    color:rgba(202, 202, 206, 1);
}

.portrait-elegance-name p{
    font-size: 0.9vmax;
    font-weight: 400;
    color: rgba(121, 124, 134, 1);
}

.portrait-elegance-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portrait-elegance-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    font-weight: 400;
}

.portrait-elegance-button a img{
    width: 0.8vmax;
    height: 0.8vmax;
    padding-left: 0.5vmax;
}


footer{
    display: flex;
    flex-direction: column;
    padding: 2vmax 9vmax;
    gap: 1vmax;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 8vmax;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.home h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.home a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.clients{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.clients h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.clients a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.portfolio{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.portfolio h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.portfolio a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.services h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.services a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vmax 9vmax; 
}

.term{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    order: 1;
}

.term a{
    text-decoration: none;
    color: rgba(121, 124, 134, 1);
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 0.5vmax;
    order: 2;
}

.social-media img{
    width: 2.5vmax;
    height: 2.5vmax;
}

.copy{
    order: 3;
}














