.services-page{
    display: flex;
    flex-direction: column;
    position: relative;
    height: max-content;
    overflow: hidden;
    margin: 6vmax 9vmax;
    padding: 0vmax;
    height: 45vmax;
}


.services-background{
    display: flex;
    flex-direction: column;
    background-image: url(img/Service-page.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    gap: 3vmax;
}

.services-page-heading{
    display: flex;
    flex-direction: column;
    padding-top: 0.5vmax;
    padding-left: 14vmax;
}

.services-page-heading p{
    font-size: 1vmax;
    font-weight: 400;
}

.services-page-heading h1{
    font-size: 2.5vmax;
    font-weight: 500;
}

.services-page-text{
    display: flex;
    width: auto;
    height: auto;
    padding: 1.2vmax 0vmax;
}

.services-page-text p{
    font-size: 1vmax;
    font-weight: 400;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65vmax;
    padding: 0vmax 2vmax;
    margin-bottom: 1.5vmax;
}

.bottom-left{
    width: 5vmax;
    height: 5vmax;
}

.bottom-left img{
    width: 5vmax;
    height: 5vmax;
}

.bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vmax;
}

.bottom-right p{
    font-size: 0.9vmax;
    color: rgba(121, 124, 134, 1);
}

.services-portrait{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 22vmax;
    margin: 6vmax 9vmax;
    gap: 2vmax;
}

.services-portrait-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vmax;
}

.services-portrait-image{
    display: flex;
    flex-direction: column;
    
}

.services-image{
    display: flex;
    width: auto;
    height: 30vmax;
}

.services-image img{
    display: flex;
    width: 47vmax;
    height: 22vmax;
}

.services-portrait-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-portrait-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    font-weight: 400;
}

.services-portrait-button a img{
    width: 0.8vmax;
    height: 0.8vmax;
    padding-left: 0.5vmax;
}


.navigation-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6vmax;
    margin-top: -2.5vmax;
}

.navigation-buttons a img{
    width: 3.2vmax;
    height: 3.2vmax;
}


.sessions{
    display: flex;
    flex-direction: row;
    padding: 6vmax 9vmax;
    gap: 8vmax;
}

.pricing{
    display: flex;
    flex-direction: column;
    gap: 0.2vmax;
}

.pricing p{
    font-size: 1vmax;
    color: white;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vmax;
}

.price h2{
    font-size: 2.5vmax;
    font-weight: 300;
    width: 9vmax;
}

.price a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1vmax;
    font-weight: 400;
    gap: 0.2vmax;
}

.price a img{
    width: 0.8vmax;
    height: 0.8vmax;
}

.sessions-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vmax;
}

.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
}

.feature img{
    width: 2vmax;
    height: 2vmax;
}

.feature p{
    font-size: 1vmax;
    font-weight: 400;
    text-transform: uppercase;
}

.FAQ-section{
    display: flex;
    flex-direction: column;
    padding: 12vmax 9vmax;
    padding-top: 6vmax;
}


footer{
    display: flex;
    flex-direction: column;
    padding: 2vmax 9vmax;
    gap: 1vmax;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 8vmax;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.home h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.home a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.clients{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.clients h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.clients a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.portfolio{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.portfolio h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.portfolio a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.services h5{
    color: rgba(121, 124, 134, 1);
    font-size: 0.9vmax;
    font-weight: 600;
}

.services a{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
    font-size: 0.9vmax;
    font-weight: 500;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vmax 9vmax; 
}

.term{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    order: 1;
}

.term a{
    text-decoration: none;
    color: rgba(121, 124, 134, 1);
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 0.5vmax;
    order: 2;
}

.social-media img{
    width: 2.5vmax;
    height: 2.5vmax;
}

.copy{
    order: 3;
}












