.services{
    display: flex;
    flex-direction: column;
    position: relative;
    height: max-content;
    overflow: hidden;
    margin: 6vmax 9vmax;
    padding: 0vmax;
    height: 45vmax;
}


.services-background{
    display: flex;
    flex-direction: column;
    background-image: url(img/Service-page.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    gap: 3vmax;
}

.services-page-heading{
    display: flex;
    flex-direction: column;
    padding-top: 0.5vmax;
    padding-left: 14vmax;
}

.services-page-heading p{
    font-size: 1vmax;
    font-weight: 400;
}

.services-page-heading h1{
    font-size: 2.5vmax;
    font-weight: 500;
}

.services-page-text{
    display: flex;
    width: auto;
    height: auto;
    padding: 1.2vmax 0vmax;
}

.services-page-text p{
    font-size: 1vmax;
    font-weight: 400;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65vmax;
    padding: 0vmax 2vmax;
    margin-bottom: 1.5vmax;
}

.bottom-left{
    width: 5vmax;
    height: 5vmax;
}

.bottom-left img{
    width: 5vmax;
    height: 5vmax;
}

.bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vmax;
}

.bottom-right p{
    font-size: 0.9vmax;
    color: rgba(121, 124, 134, 1);
}

.services-portrait{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 22vmax;
    margin: 6vmax 9vmax;
    gap: 2vmax;
}

.services-portrait-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vmax;
}

.services-portrait-image{
    display: flex;
    flex-direction: column;
    
}

.services-image{
    display: flex;
    width: auto;
    height: 30vmax;
}

.services-image img{
    display: flex;
    width: 45vmax;
    height: 22vmax;
}

.services-portrait-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-portrait-button a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    font-weight: 400;
}

.services-portrait-button a img{
    width: 0.8vmax;
    height: 0.8vmax;
    padding-left: 0.5vmax;
}

.navigation-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2vmax;
}